@import url(https://fonts.bunny.net/css?family=noto-sans-display:100,300,600);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;

}

body {
    font-family: 'Noto Sans Display', sans-serif;
}

header {
    margin: 1em 2em 4em;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
}

.content, .btns {
    display: flex;
    flex-direction: column;
}

#title {
    margin-block-end: 2rem;
}

.accounts {
    display: flex;
    margin-block-end: 1.5rem;
}

a:active {
    color: #6243e6;
}

.btns {
    /* border: 1px solid purple; */
}

.btn {
    /* border: 1px solid purple; */
    margin: 0.2em 0;
    padding: 0.5rem ;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #e4e4e4; 
}

.btn--add {
    border: 1px solid #e4e4e4;
}